
nav{display:flex;
    background-color:rgb(140, 225, 197);
    color:black;
opacity: 5px;
margin-top:0;
padding: 0;
align-items: center;
justify-content: center;
gap:20px;
font-size: bold;}
nav a{ 
  text-decoration: none;
padding:10px 1px;
margin:10px 10px;
}
nav a:hover{color: white;}


.search{
  margin-left: auto;
  padding-right: 5px;
  background-color:white;
border-radius: 20px;
background-image: url(../sc.png);
background-size: 20px;
width: 230px;
height:40px;
background-repeat: no-repeat;
background-position: 3px 0px;
background-color:white;
padding-left: 30px;
margin-top: 0;

}
p ,h1{text-align: center;
text-indent: center;
justify-content: center;}
.coin{animation: big1 1s linear 1s infinite alternate-reverse;
height:5px;
display:block;
width: 5px;
margin:20px;}
@keyframes big1{from{
  transform:skew(30deg 20deg);
  transform: scale(0.3);
}
to{transform: scale(0.8);
}

}

.both-citiy{display: grid;
grid-template-columns: 1fr 1fr;
gap:10px;padding: 10px;
width: 400px;
margin-left: 300px;
animation: big 50s linear 1s infinite;}
@keyframes big{0%{color:purple;}
10%{width: 600px;}
20%{color:  blue ;}
40%{color:rgb(128, 0, 60);}
60%{color: brown ;}
100%{color: green;}}
.city{border:3px solid black;
 text-align: center;
justify-content: center;
justify-items: center;}

.six-cities {display:grid;
grid-template-columns: 300px 300px 300px;
grid-template-rows: 250px 250px 250px;
gap:120px;
width: 40%;

}
.cities p,h3{
text-align:center;
align-items: center;
text-indent: center;
justify-content: center;
}
img{border-image:4px;
  border-radius: 20px;
  box-shadow: 3px 5px 8px rgb(0, 66, 128);}
.cities:hover{color: rgb(0, 66, 128);
text-shadow: 3px 2px 3px rgb(135, 211, 230);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: beige;
box-sizing:auto solid black ;
border-radius: 20px;
border: 4px;
box-shadow: 3px 2px 4px;
}

#city{display:flexbox;
  border: 4px double black;
  box-shadow: 4px 6px 3px rgb(45, 1, 1);
border-radius: 30px;
padding: 10px;
text-align:center;
transition:all 0.1s ease-in-out  5s ;}
#city:hover{background-color:rgb(234, 223, 203); color: rgb(63, 5, 5);}
#submit{align-items: center;
text-align: center;
margin-top: 30px;
}
